{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    L'objet a bien été effecer.
    <a href="/account"><button type="button" class="btn btn-primary card-link">Retour</button></a>
{% endblock %}