{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon Compte</h1>
        <h2>Mes emprunts</h2>
        <pre>
            {{ dump(borrow) }}
        </pre>
        
        
    </div>
{% endblock %}
